weekly/step-function/weekly-reports-starter
{
  "Comment": "State Machine that invokes weekly-reports-caller for each city in reports-config with 5 minutes interval between them",
  "StartAt": "StartCityReport",
  "States": {
    "StartCityReport": {
      "Type": "Task",  
      "ResultPath" : "$.stepfunction",
      "Resource": "arn:aws:lambda:us-east-2:697036326133:function:weekly-reports-caller",
      "Next": "IsDone?" 
    },
    "Wait300s": {
      "Type": "Wait",
      "Seconds": 300,
      "Next": "StartCityReport"
    },
    "IsDone?": {
      "Type" : "Choice",
      "Choices": [
        {
          "Variable": "$.stepfunction.done",
          "BooleanEquals": true,
          "Next": "Yes"
        }
      ],
      "Default": "Wait300s" 
    },
    "Yes": {
      "Type": "Succeed"
    }
  }
}
